*{
	box-sizing:border-box;
	user-select:none;
}
body{
	margin:0px;
	font-family:arial;
}
.container{
	background:rgb(42,58, 84);
	width:100vw;
	height:100vh;
	display:flex;
	align-items:center;
	flex-direction:column;
}
.sideMenu{
	background:rgb(52,68, 94);
	width:100vw;
	height:100vh;
	display:flex;
	flex-direction:column;
	position:fixed;
	top:0px;
	/*-100vh*/
	left:-100vw;
	transition-duration:0.75s;
}
.userInfo{
	width:100vw;
	height:10vh;
	display:flex;
	justify-content:space-around;
	align-items:center;
}
.appCategories{
	width:100vw;
	height:90vh;
	display:flex;
	justify-content:center;
	align-items:center;
	flex-direction:column;
}
.appCategories a{
	width:225px;
	color:rgb(255,255,255);
	margin-bottom:20px;
	font-size:32px;
	text-decoration:none;
}
.user_logo{
	background:url(profile.png);
	background-size:cover;
	width:50px;
	height:50px;
}
.createAccount{
	background:transparent;
	color:rgb(255,255,255);
	width:200px;
	height:50px;
	font-size:18px;
	border:1px solid #fff;
}
.closeMenu{
	background:url(cross.png);
	background-size:cover;
	width:50px;
	height:50px;
	border:none;
}
.menuOpen{
	left:0vw;
}
.header{
	width:100vw;
	padding:15px;
	display:flex;
	justify-content:space-around;
}
.sideMenuBtn{
	background:url(menu.png);
	background-size:cover;
	width:50px;
	height:50px;
	border:none;
}
.appName{
	width:50vw;
	height:50px;
	padding:1rem;
	font-size:24px;
	border-radius:10px;

}
.appSearch{
	background:url(glass.png);
	background-size:cover;
	width:50px;
	height:50px;
	border:none;
}
.apps{
	width:352px;
	display:grid;
	justify-items:center;
	grid-template-columns:repeat(4, 1fr);
}
.app{
	color:rgb(255, 255, 255);
	width:80px;
	height:80px;
	margin-bottom:20px;
	display:flex;
	justify-content:center;
	align-items:center;
	border:1px solid #fff;	
}